/*=== Global Resets ===*/

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div,
ol, ul, li,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/*=== App Styles ===*/

#app {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  font-family: monospace;
}

.rendered-pokemon {
  width: 33%;
  text-align: center;
}

img {
  width: 200px;
}
